
.icon-users:before { content: '\e800'; } /* '' */
.icon-emo-happy:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
